<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>I scraped the Onion</title>

  <!-- jQuery Link -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Moment Link -->
  <script src="https://cdn.jsdelivr.net/momentjs/2.12.0/moment.min.js"></script>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <!-- Google Font Links -->
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
  <!-- Font-Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

<style>
  body {
    background-image: url('/images/newsBG.jpeg');
  }
  .text-outline-dark {
    text-shadow: -1px 1px 0 #000,
				          1px 1px 0 #000,
				          1px -1px 0 #000,
				          -1px -1px 0 #000;
  }
  .text-outline-light {
    text-shadow: -1px 1px 0 white,
				          1px 1px 0 white,
				          1px -1px 0 white,
				          -1px -1px 0 white;
  }
  .bgIMG {
    background-image: url('/images/newsSMBG.jpg');
  }
</style>
</head>
<body>

<nav class="p-3 bg-warning border-bottom border-dark">
  <div class="container text-center">
    <h1 class="text-dark text-outline-light mb-0"><span class="text-light text-outline-dark">The Onion</span> Scraper</h1>
    <a href="/"><button class="btn btn-info btn-sm">Scrape</button></a>
    <a href="/savedArticles"><button class="btn btn-danger btn-sm">Saved Articles</button></a>
    <a href="/home"><button class="btn btn-secondary btn-sm">Home</button></a>  
  </div>
</nav>

  {{{body}}}


</body>
</html>